body,html {font-size:10px;}
#frame {
  height:60rem; 
  width:60rem; 
  background:lightblue;
  position:relative;
}

#buttonArea {
  background: url(img/moves/buttonBox.png) no-repeat; 
  height:20rem;
  width:37rem;
  position: relative;
  top: 39rem;
  left: 11rem;
  
}