body,html {font-size:10px;}
#frame {
  height:60rem; 
  width:60rem; 
  background:lightblue;
  position:relative;
}

#buttonArea {
  height: 20rem;
  width: 30rem;
  position: relative;
  background: url(img/moves/buttonBox.png); 
  background-size: cover no-repeat;
}